[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vipin Sahu (vipinhelloindia)
[access "refs/for/refs/*"]
	read = group user/Vipin Sahu (vipinhelloindia)
	push = group user/Vipin Sahu (vipinhelloindia)
	label-Code-Review = -2..+2 group user/Vipin Sahu (vipinhelloindia)
	label-Verified = -1..+1 group user/Vipin Sahu (vipinhelloindia)
	rebase = group user/Vipin Sahu (vipinhelloindia)
	removeReviewer = group user/Vipin Sahu (vipinhelloindia)
	submit = group user/Vipin Sahu (vipinhelloindia)
[access "refs/heads/*"]
	read = group user/Vipin Sahu (vipinhelloindia)
	create = group user/Vipin Sahu (vipinhelloindia)
	push = +force group user/Vipin Sahu (vipinhelloindia)
	pushMerge = group user/Vipin Sahu (vipinhelloindia)
[access "refs/tags/*"]
	push = +force group user/Vipin Sahu (vipinhelloindia)
	pushTag = group user/Vipin Sahu (vipinhelloindia)
	pushSignedTag = group user/Vipin Sahu (vipinhelloindia)
